/*Roboto regular, bold, medium, black
Raleway bold*/
/*Logo*/
@font-face {
  font-family: "Raleway-Bold";
  src: url(/css/fonts/Raleway-Bold.ttf);
}

/*headers*/
@font-face {
  font-family: "Roboto-Bold";
  src: url(/css/fonts/Roboto-Bold.ttf);
}

/*hero header*/
@font-face {
  font-family: "Roboto-Black";
  src: url(/css/fonts/Roboto-Black.ttf);
}

/*nav links*/
@font-face {
  font-family: "Roboto-Medium";
  src: url(/css/fonts/Roboto-Medium.ttf);
}

/*paragraphs*/
@font-face {
  font-family: "Roboto-Regular";
  src: url(/css/fonts/Roboto-Regular.ttf);
}

:root {
  --accent: #2196F3;
  --main-bg: #fff;
  --secondary-bg: #F5F4FA;
  --activity-title-bg: rgba(47, 48, 58, 0.8);
  --main-text: #212121;
  --secondary-text: #757575;
  --light-text: #ffffff;
  --social-links: #AFB1B8;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --footer-bg: #2F303A;
  --footer-social-bg: rgba(255, 255, 255, 0.1);
  --nav-underline: #ECECEC;
  --item-border: #EEEEEE;
}

body {
  color: var(--main-text);
  background-color: var(--main-bg);
  font-family: "Roboto-Bold", sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: var(--main-text);
  letter-spacing: 0.03em;
}

a:hover {
  cursor: pointer;
}

.mobile {
  display: none;
}

/*common*/
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--main-text);
}

.social-link {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  color: var(--social-links);
}

.social-link:hover, .social-link:focus {
  color: var(--light-text);
  background-color: var(--accent);
}

.logo {
  font-size: 26px;
  line-height: 31px;
  font-family: "Raleway-Bold", sans-serif;
}

.logo__first-word {
  color: var(--accent);
}

.section-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.title--hidden {
  height: 0px;
  margin: 0px;
  overflow: hidden;
}

.item-title {
  font-size: 14px;
  line-height: 16px;
}

/*HEADER*/
/*******Nav******/
.nav {
  border-bottom: solid 1px var(--nav-underline);
}

.nav-list__item {
  margin: 40px auto;
  text-align: center;
}

.nav__link {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent);
}

.nav__link--active {
  color: var(--accent);
  position: relative;
}

.nav__link--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  border-radius: 2px;
  top: 24px;
  left: 0;
}

.nav-contacts__item {
  margin-bottom: 16px;
  text-align: center;
}

.nav-contacts__link {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  color: var(--secondary-text);
}

.nav-contacts__link:hover, .nav-contacts__link:focus {
  color: var(--accent);
}

/*HEADER END*/
/*MAIN*/
/*Hero section*/
.hero {
  width: auto;
  height: 600px;
  background-image: url(../images/hero/header-desktop-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: var(--light-text);
}

.hero__image-overlay {
  content: "";
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 1;
}

.hero__title {
  margin: auto;
  position: absolute;
  font-family: "Roboto-Black", sans-serif;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 100;
}

.hero__button {
  margin: auto;
  font-size: 16px;
  color: var(--light-text);
  background-color: var(--accent);
  padding: 10px 32px;
  position: absolute;
  border: none;
  border-radius: 4px;
  top: 350px;
  left: 0;
  right: 0;
  z-index: 100;
}

/*Features section*/
.features__list {
  margin: auto 15px;
  padding: 0px;
}

.features__item-image {
  text-align: center;
}

.features__item-title {
  text-align: center;
  text-transform: uppercase;
}

.features__item-text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  color: var(--secondary-text);
  line-height: 24px;
}

/*Activities secton*/
.activities__item-title {
  text-transform: uppercase;
  background-color: var(--activity-title-bg);
  color: var(--light-text);
}

/*Team section*/
.team {
  background-color: var(--secondary-bg);
}

.team__list {
  margin: 0 15px;
  text-align: center;
}

.team__card {
  text-align: center;
  width: 270px;
  font-size: 16px;
  line-height: 19px;
  background-color: var(--main-bg);
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team__card-name {
  font-family: "Roboto-Medium", sans-serif;
}

.team__card-position {
  font-family: "Roboto-Regular", sans-serif;
}

/*CLients section*/
.clients__link:hover {
  color: accent;
}

/*MAIN END*/
/*FOOTER*/
.footer {
  color: var(--light-text);
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 24px;
  background-color: var(--footer-bg);
  text-align: center;
}

.footer-logo {
  color: var(--light-text);
}

.footer__address {
  font-style: normal;
}

.footer__contacts-link {
  color: var(--footer-contacts);
}

.footer__text {
  font-family: "Roboto-Bold";
  font-style: normal;
  text-transform: uppercase;
  line-height: 16px;
}

.footer__social-links-list-item {
  background-color: var(--footer-social-bg);
}

.footer__social-link {
  color: var(--light-text);
}

/*PORTFOLIO*/
.filters__btn {
  font-family: "Roboto-Medium", sans-serif;
  line-height: 26px;
  background-color: var(--secondary-bg);
  border: none;
}

.filters__btn:hover {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--light-text);
}

.projects__item {
  width: 370px;
  border: 1px solid var(--item-border);
}

.projects__item:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.projects__item-title {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.projects__item-category {
  font-family: "Roboto-Normal", sans-serif;
  font-size: 16px;
  color: var(--secondary-text);
  line-height: 30px;
}
